
<ion-content class="forgot-password-background">
    <div class="content-wrapper">
      <div id="container" class="fade-slide-in">
        
        <!-- Logo dan Nama Aplikasi -->
        <img src="assets/img/logo.png" alt="Logo" class="logo" />
        <div class="logo-text">Clustro</div>
        <h2>Your Home, Your Comfort, Your App</h2>
  
        <!-- Form Reset Password -->
        <ion-card>
          <ion-card-content>
            <ion-input
              type="password"
              label="Password Baru"
              [(ngModel)]="password"
              fill="outline"
            ></ion-input>
  
            <ion-input
              type="password"
              label="Konfirmasi Password"
              [(ngModel)]="confirmPassword"
              fill="outline"
            ></ion-input>
  
            <ion-button
              expand="block"
              (click)="resetPassword()"
              [disabled]="isLoading"
            >
              <ion-spinner *ngIf="isLoading" name="crescent" class="forgot-password-spinner"></ion-spinner>
              <span *ngIf="!isLoading">Simpan Password Baru</span>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>
  