<ion-content [fullscreen]="true" class="register-page">
    <!-- Tombol kembali -->
    <div class="btn-back" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <form class="form-container" (ngSubmit)="submitForm()" #registerForm="ngForm">
        <!-- Judul -->
        <div class="title-inside-form">
            <h1>REGISTER</h1>
        </div>

        <!-- Nama -->
        <label class="form-label">Nama <span class="required">*</span></label>
        <ion-input class="form-input" placeholder="Masukkan nama lengkap Anda" [(ngModel)]="user.nama" name="nama" required></ion-input>
        <p class="example-input">Contoh: Budi Setiawan</p>

        <!-- NIK -->
        <label class="form-label">NIK <span class="required">*</span></label>
        <ion-input class="form-input" type="tel" maxlength="16" placeholder="Masukkan NIK Anda (16 digit)" [(ngModel)]="user.nik" name="nik" required></ion-input>
        <p class="example-input">Contoh: 3201234567890123</p>

        <!-- Email -->
        <label class="form-label">Email <span class="required">*</span></label>
        <ion-input class="form-input" type="email" placeholder="Masukkan email Anda" [(ngModel)]="user.email" name="email" required></ion-input>
        <p class="example-input">Contoh: namaemail&#64;example.com</p>

        <!-- No. WhatsApp -->
        <label class="form-label">No. WhatsApp <span class="required">*</span></label>
        <ion-input class="form-input" type="tel" maxlength="15" placeholder="Masukkan nomor WhatsApp Anda" [(ngModel)]="user.no_whatsapp" name="no_whatsapp" required></ion-input>
        <p class="example-input">Contoh: 081234567890</p>

        <!-- No. Telepon -->
        <label class="form-label">No. Telepon <span class="required">*</span></label>
        <ion-input class="form-input" type="tel" maxlength="15" placeholder="Masukkan nomor telepon Anda" [(ngModel)]="user.no_telepon" name="no_telepon" required></ion-input>
        <p class="example-input">Contoh: 02187654321</p>

        <!-- Alamat Lengkap -->
        <label class="form-label">Alamat Lengkap <span class="required">*</span></label>
        <ion-input class="form-input" placeholder="Masukkan alamat lengkap Anda" [(ngModel)]="user.alamat" name="alamat" required></ion-input>
        <p class="example-input">
            Contoh: Jl. Melati Indah Blok B3 No.10, RT 04/RW 02, Desa Sukamukti
        </p>



        <!-- Input file tersembunyi -->
        <input type="file" #fileInput accept=".jpg,.jpeg,.png" (change)="handleFileUpload($event)" hidden />

        <!-- Password -->
        <label class="form-label">Password <span class="required">*</span></label>
        <ion-input class="form-input" type="password" placeholder="Masukkan password" [(ngModel)]="user.password" name="password" required></ion-input>

        <!-- Konfirmasi Password -->
        <label class="form-label">Konfirmasi Password <span class="required">*</span></label>
        <ion-input class="form-input" type="password" placeholder="Konfirmasi password" [(ngModel)]="user.password_confirmation" name="password_confirmation" required></ion-input>
        <!-- Foto Diri -->
        <label class="form-label">Foto Diri <span class="required">*</span></label>
        <div class="upload-box" (click)="triggerUpload()">
            <ng-container *ngIf="selectedImageUrl; else plusIcon">
                <img [src]="selectedImageUrl" class="preview-image" alt="Foto diri yang dipilih" />
            </ng-container>
            <ng-template #plusIcon>
                <ion-icon name="add-outline" size="large"></ion-icon>
            </ng-template>
        </div>

        <p class="upload-note">*jpg/png, maksimal 5MB</p>
        <!-- Keterangan Wajib Diisi -->
        <p class="required-note">
            <span class="required">*</span> Wajib diisi
        </p>

        <!-- Tombol Register -->
        <ion-button shape="round" expand="block" class="btn-register" type="submit">
            REGISTER
        </ion-button>