ion-item {
  --padding-start: 12px;
  --inner-padding-end: 8px;
  --min-height: 72px;
  color:#00c197;
}
.btn-back{
  font-size: 24px;
}

ion-label h2 {
  font-weight: 600;
  margin: 0 0 4px 0;
}
ion-icon{
  color: #00c197;
}
ion-label p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

ion-note {
  font-size: 12px;
}
.title{
  color:#00c197;
}