<ion-content class="bg-hijau-clustro" [fullscreen]="true" scroll-y="true">
  <div class="scroll-wrapper">

    <!-- Form utama -->
    <div class="form-container">
      
           <div class="himbauan-inside">
        <ion-icon name="information-circle-outline" class="himbauan-icon"></ion-icon>
        <p class="himbauan-text">
          Harap <strong>baca dan pahami</strong> ketentuan di bawah ini sebelum mengajukan pengaduan melalui aplikasi Clustro.
        </p>
      </div>

      <!-- Judul form -->
      <div class="title-inside-form">
        <h1>Ketentuan Pengguna dalam<br> Pengajuan Pengaduan</h1>
      </div>

      <!-- Himbauan disatukan -->

      <div class="warning-box">
        Pengguna bertanggung jawab atas keakuratan data laporan yang dikirim. <br>
        Setiap laporan harus sesuai dengan fakta dan tidak mengandung unsur fitnah atau pelanggaran hukum.
      </div>

      <p class="deskripsi">
        Dengan melanjutkan, Anda dianggap menyetujui ketentuan ini dan bersedia mengikuti proses tindak lanjut dari pengelola cluster.
      </p>

      <ion-button expand="block" class="button-lanjut" routerLink="/pengaduan-input">
        SELANJUTNYA
      </ion-button>
    </div>

  </div>
</ion-content>
