<ion-header>
  <ion-toolbar>
    <ion-title>Laporan Pengaduan Aspirasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pengaduan of pengaduanList" button (click)="openDetail(pengaduan.id)">
      <ion-label>
        <h2>{{ pengaduan.judul }}</h2>
        <p>Kategori: {{ pengaduan.kategori }} | Status: {{ pengaduan.status }}</p>
        <small>Tanggal: {{ pengaduan.tanggal_pengaduan | date: 'mediumDate' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
